* {
   --topmenusize: 49px;
   --topmenubordersize: 0.5px;
}

.topmenu {
   width: 100%;
   height: calc(var(--topmenusize) + var(--topmenubordersize));
   background: rgb(200, 0, 0);
   display: flex;
}

.menu {
   position: relative;
   width: 125px;
   height: var(--topmenusize);
}

.menuname {
   width: 125px;
   height: var(--topmenusize);
   background: rgb(200, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   color: white;
   border: var(--topmenubordersize) solid white;
}

.menuname:hover {
   background: rgb(255, 150, 150);
   color: black;
}

.menusub {
   display: none;
   position: absolute;
}

div.topmenu div.menu:hover > .menusub {
   display: block;
}

.sub2 {
   top: 0px;
   left: 100%;
}